@import 'tailwindcss';

@theme {
  --color-base: rgb(32, 33, 36);
  --color-primary: rgb(232, 234, 237);
  --color-primary-dark: rgb(159, 159, 159);
  --color-secondary: rgb(93, 93, 93);
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.7;
    background-color: var(--color-base);
    color: var(--color-primary);
  }

  .border {
    border-color: var(--color-secondary);
  }
}
