@import 'tailwindcss';

@theme {
  --color-base: #202124;
  --color-primary: #e8eaed;
  --color-secondary: #5d5d5d;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.7;
    background-color: var(--color-base);
    color: var(--color-primary);
  }

  .border {
    border-color: var(--color-secondary);
  }
}
